@model CallApi.Models.Authen.ForgotPasswordViewModel

<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="content">
                <div class="forgot-container">
                    <img src="images/lock-forgot-password.png" alt="">
                    <h1 class="title">Nhập email đã đăng kí</h1>

                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMess))
                    {
                        <div class="alert alert-danger">@ViewBag.ErrorMess</div>
                    }

                    <form asp-action="ForgotPassword" asp-controller="Forgotpassword" method="post">
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <input asp-for="Email" type="email" class="form-control" placeholder="Email" required>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <button type="submit" class="submit-email">OK</button>
                    </form>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
