@model CallApi.Models.Authen.ResetPasswordViewModel
<!-- login-form -->
<div class="content">
    <div class="forgot-container">
        <img src="images/get-password-icon.png" alt="">
        <h1 class="title">Nhập mật khẩu mới</h1>
        <form asp-controller="ForgotPassword" asp-action="ResetPassword" method="post">
            <div>
                <input type="hidden" asp-for="Token" />
                <input type="hidden" asp-for="Email" />
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control" placeholder="Nhập mật khẩu">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Nhập lại mật khẩu">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="submit-email mb20">Lưu mật khẩu</button>
        </form>

    </div>
</div>
<!-- /.login-form -->
